.cart {
    display: flex;
    flex-direction: column;
    min-height: 88vh;
}

.cart__title {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: var(--spacing-09);
}

.cart__item {
    display: flex;
    flex-direction: row;
    width: 34.25rem;
    height: 20.25rem;
    justify-content: space-between;
    margin-bottom: var(--spacing-13);
}

.cart__item-img {
    width: 16.375rem;
    height: 20.25rem;
    object-fit: contain;
}

.cart__item-data {
    margin-top: var(--spacing-08);
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    min-width: 15.375rem;
}

.cart__item-price {
    margin-top: var(--spacing-05);
}

.cart__item-delete {
    margin-top: auto;
    border: none;
    text-align: left;
    cursor: pointer;
    color: var(--color-delete);
    background-color: transparent;
}

.cart__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: var(--spacing-05);
}

.cart__footer-price {
    display: flex;
    align-items: center;
    margin-left: auto;
    text-transform: uppercase;
}

.cart__footer-amount {
    margin-left: var(--spacing-06);
    margin-right: 3.5rem;
}

@media (max-width: 1199px) {
    .cart__title {
        font-size: 1.25rem;
    }
    .cart__item {
        width: 100%;
    }
    .cart__footer-price {
        margin-right: var(--spacing-07);
    }
}

@media (max-width: 767px) {
    .cart__item {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: var(--spacing-09);
    }
    .cart__item-img {
        width: 100%;
        height: 14rem;
    }
    .cart__footer {
        flex-wrap: wrap;
        .main-button {
            order:2;
            width: 48%;
            white-space: nowrap;
        }
    }
    .cart__footer-price {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--spacing-06);
        order: 1;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    
    .cart__footer-amount {
        margin-right: 0;
    }
}
