.main-bar {
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-bar__cart-badge {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: var(--spacing-01);
}

.main-bar__logo {
    height: 1.5rem;
}

.main-bar__cart-icon {
    height: 1.5rem;
}

.main-bar__cart-text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    height: 0.8125rem;
    color: var(--color-main-900);
}

.main-bar__footer {
    flex-basis: 100%;
}

.main-bar__back {
    font-size: 0.75rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
}