.phone-item {
    position: relative;
    padding: var(--spacing-04);
    aspect-ratio: 1 / 1;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-main-900);
    background-color: var(--color-white, #fff);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 1px solid var(--color-black);

    &:focus:not(:focus-visible) {
        outline: 1px solid var(--color-black);
    }


    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: var(--color-main-900);
        transform: translateY(100%);
        transition: transform 0.7s ease;
        z-index: 0;
    }

    &:hover::before {
        transform: translateY(0);
    }

    &:hover {
        color: var(--color-white);
    }

    &:hover .phone-item__brand,
    &:hover .phone-item__footer {
        transition: color 0.7s ease;

        color: var(--color-white);
    }
}

.phone-item__img {
    position: relative;
    z-index: 1;
    width: 100%;
    flex: 1 1 0;
    min-height: 0;
    margin-bottom: var(--spacing-06);
    object-fit: contain;
}

.phone-item__brand {
    position: relative;
    z-index: 1;
    font-weight: 300;
    color: var(--color-main-600);
    font-size: 10px;
    margin-bottom: var(--spacing-01);
    transition: color 0.7s ease;
}



.phone-item__footer {
    position: relative;
    z-index: 1;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    color: var(--color-main-900);
    transition: color 0.7s ease;

}