.storage__text {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: calc(17/14);
    margin-bottom: var(--spacing-06);
    text-transform: uppercase;
}

.storage__tabs {
    border: var(--color-unselected) solid 1px;
    border-right: none;
    display: flex;
    width: fit-content;
    margin-bottom: var(--spacing-08);
}

.storage__tabs-btn {
    width: 5.9375rem;
    height: 4.0625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border: none;
    border-right: var(--color-unselected) solid 1px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}

.storage__tabs-btn:hover::after,
.storage__tabs-btn--active::after {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    content: "";
    border: 1px solid black;
}

@media (max-width: 1199px) {
    .storage__text {
        font-size: 0.75rem;
    }

    .storage__tabs-btn {
        width: 5.5625rem;
        height: 3rem;
    }
}

@media (max-width: 767px) {
    .storage__tabs {
        margin-bottom: var(--spacing-07);
    }
}