.phone-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-04);
}

.phone-list__grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  width: 100%;
  margin-bottom: var(--spacing-08);
}
